@{
    ViewData["Title"] = "Georgian Computers";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Georgian Computers!!!</h1>
        <h2 class="display-4">Well then...</h2>
        <p>This is my first test website!</p>
        <img src="https://i.pinimg.com/originals/63/dc/85/63dc85310e367536338a13169c6def47.jpg" />
    </div>
